/* custum css for interface */

/* Overide */
h1,h2,h3,h4,h5{
color:white; 
font-family: 'Major Mono Display', monospace;     
}

body{
font-family: 'Exo 2', sans-serif;   
color:white; 
}

a{
color:white;    
}

a:hover{
color:white;   
}
/* custum interface elements */

.bg-interface
{
background-image: url("../interface design.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
opacity:0;

}

.glow
{
    -webkit-box-shadow:0 0 50px green; 
    -moz-box-shadow: 0 0 50px green; 
    box-shadow:0 0 50px green;
}
/* custum bg colours / images etc  */

.bg-front{
background-image: url("../bg-image.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
min-height:100%;
}

.white{
background-color:white;
margin-top:40px;
}

.header{
background-image: url("../rusttex2.jpg");
border-bottom: solid grey 4px;
}


.id-image
{
    float:right;
}

/* background texture menu */
.rustmenu{
background-image: url("../rusttex.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.rustmenu a{
color:white!important;
font-weight:bolder;
}

/* spacing  */
.margin40{
margin-top:40px;
}

.padding{
padding:20px;    
}

/* button padding */
.button-margin{
margin-left:20px;
}

