/* custum css for interface */

/* Overide */
h1,h2,h3,h4,h5{
color:white; 
font-family: 'Major Mono Display', monospace;     
}

body{
font-family: 'Exo 2', sans-serif;   
color:green; 
}

/* custum interface elements */

.bg-interface
{
background-image: url("../interface design.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
opacity:0;
min-height:700px;
border-radius: 10px;
}

/* custum bg colours / images etc  */

.bg-front{
background-image: url("../bg-image.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
min-height:100%;
}

.white{
background-color:white;
margin-top:40px;
}

/* background texture menu */
.rustmenu{
background-image: url("../rusttex.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.rustmenu a{
color:white!important;
font-weight:bolder;
}

/* spacing  */
.margin40{
margin-top:40px;
}

.padding{
padding:20px;    
}

/* button padding */
.button-margin{
margin-left:50px;
float:right;
}

