/* CSS for boxes to display on click events (clickevents.js) */

.infobox1{
height:200px;
width:400px;
background-image: url("../rusttex2.jpg"); 
display:none;
position: absolute;
top:10%;
left:45%;
margin: 0 auto;
border:white solid 8px;
}

.infobox2{
    height:200px;
    width:400px;
    background-image: url("../rusttex2.jpg");
    display:none;
    position: absolute;
    top:45%;
    left:55%;
    margin: 0 auto;
    border:white solid 8px;
    }